# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata

# Android
mobile/android/.gradle/
mobile/android/local.properties

# Java / Maven
backend/target/
backend/.idea/
backend/*.iml

# IDE
.idea/
.vscode/
*.iml

# Secrets
.env
*.jks
*.keystore